:root {
  --accent: #56487D;
  --segmented_control_tint: #56487D;
  --placeholder_icon_foreground_primary: #56487D;
  --button_primary_background: #56487D;
  --writebar_icon: #56487D;
  --common-color: #56487D;
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Roboto';
  font-weight: 700;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.main-info {
  display: flex;
  align-items: center;
}

.card-image {
  height: 50px;
  margin-right: 15px;
}
.card-image img {
  border-radius: 20px;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45px;
}

.viewed-block, .liked-block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-photo {
  height: 60px;
  margin-right: 15px;
}
.user-photo img {
  height: 60px;
  border-radius: 30px;
}
